.recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding-bottom: 20px;
}

.recipes-container .recipe-card {
    margin: 10px;
    padding-bottom: 15px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    max-width: 250px;
    min-width: 200px;
    height: 360px;
    text-align: center;
    background-color: linen;
}

.recipes-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.recipes-container .recipe-name {
    padding:  0.5rem;
    height: auto;
    
}

.recipes-container h3 {
    font-size: 14px;
    font-weight: 600;
}

.recipes-container .view-button {
    color: #141414;
    border: none;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    background-color: lightgrey;
    font-size: small;
    transition: background-color 0.2s ease;
}

.recipes-container .view-button:hover {
    background-color: mediumseagreen;
}

.recipes-container .save-button {
    color: #141414;
    border: none;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: rgb(162, 198, 179);
    font-size: small;
    transition: background-color 0.2s ease;
}

.recipes-container .save-button:hover {
    background-color: mediumseagreen;
}

.recipes-container button:disabled {
    background: rgb(234, 169, 169);
    cursor: not-allowed;
}

.recipes-container button:disabled:hover {
    background: rgb(230, 73, 73);
    cursor: not-allowed;
}

@media (max-width: 768px) {

    .filters {
        margin: 0 1rem;
    }

    .recipes-container {
        flex-direction: column;
        align-items: center;
    }

    .filter-input {
        width: 90%;
    }

    .filter-container {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .filter-container div {
        display: flex;
        align-items: center;
    }
    
    .filter-container label {
        margin-right: 1rem;
    }
    .filter-dropdown {
        width: 100%;
        margin-right: 0;
    }
}

.filter-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 1.5rem;
}

.filter-container {
    padding: 1rem;
    display: flex;
    width: 100%;
}

.filter-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.filter-dropdown {
    width: auto;
    padding: 10px;
    margin-right: 1rem;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}